@import "./calendar.scss";
@import "./clock.scss";
@import "./sitcontrol.scss";
.sitcontrol_datetimepicker {
  position: relative;
  input {
    padding-left: 0.2rem;
    padding-right: 2.6rem;
    text-align: center;
  }
  .sitcontrol_calendar_icon {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    color: #787b7d;
    &:hover {
      color: #333;
    }
  }
  .sitcontrol_clock_icon {
    position: absolute;
    top: 0.5rem;
    right: 0.3rem;
    color: #787b7d;
    &:hover {
      color: #333;
    }
  }
  .sitcontrol_calendar {
    position: absolute;
    z-index: 100;
  }
  .sitcontrol_clock {
    position: absolute;
    z-index: 100;
  }
}
